<!-- generate page for change table -->
{% extends "base.html" %}
{% load static %}
{% load mainFilters %}
{% block title %}Hello{% endblock %}

{% block container %}
    <h1>{{question}}</h1>
    <form "form-radio" id="form-is_actual-change" action="{{url}}" method="post">
        {% csrf_token %}
        {% for feature in features %}
        <div class="radio"><label>
            <input type="radio" name="{{answer_id}}"
                {% if forloop.first %} checked {% endif %}
                value="{{feature.id}}">{{feature.feature}}
        </label></div>    
        {% endfor %}
        {% for postParam in request|postParameters %}
            <input class="form-control hidden" type="text"
                value="{{postParam.value}}" name="{{postParam.key}}"
                id="{{postParam.key}}">
        {% endfor%}
        <input class="form-control hidden" type="text"
            value="{{newIdunnoFeatures}}" name="newIdunnoFeatures"
            id="newIdunnoFeatures">
        
        <input class="form-control hidden" type="text"
            value="{{newIgnoreFeatures}}" name="newIgnoreFeatures"
            id="newIgnoreFeatures">
       
        <td><input type="submit" value="Fish has this feature" name="_submit"
            class="btn btn-default"></td>
        <td><input type="submit" value="I dunno ¯\^(°_o)^/¯" name="_idunno"
            class="btn btn-default"></td>
        <td><input type="submit" value="Not one" name="_no"
            class="btn btn-default"></td>
    </form>
    <pre>{{facts}}</pre>
{% endblock %}