<!-- generate page for change table -->
{% extends "base.html" %}
{% load static %}
{% load mainFilters %}
{% block title %}Hello{% endblock %}

{% block container %}
    <h1>{{question}}</h1>
    <form "form-radio" id="form-is_actual-change" action="{{url}}" method="post">
        {% csrf_token %}
        {% for kind in kinds %}
        <div class="radio"><label>
            <input type="radio" name="{{answer_id}}"
                {% if forloop.first %} checked {% endif %}
                value="{{kind.id}}">{{kind.kind}}
        </label></div>    
        {% endfor %}
        {% for postParam in request|postParameters %}
            <input class="form-control hidden" type="text"
                value="{{postParam.value}}" name="{{postParam.key}}"
                id="{{postParam.key}}">
        {% endfor%}
        <input class="form-control hidden" type="text"
            value="{{newIdunnoKinds}}" name="newIdunnoKinds"
            id="newIdunnoKinds">
        
        <input class="form-control hidden" type="text"
            value="{{newIgnoreKinds}}" name="newIgnoreKinds"
            id="newIgnoreKinds">
       
        <td><input type="submit" value="Fish has this kind" name="kind_submit"
            class="btn btn-default"></td>
        <td><input type="submit" value="I dunno ¯\^(°_o)^/¯" name="kind_idunno"
            class="btn btn-default"></td>
        <td><input type="submit" value="Not one" name="kind_no"
            class="btn btn-default"></td>
    </form>
    <pre>{{facts}}</pre>
{% endblock %}