<!-- home page -->
{% extends "base.html" %}
{% load static %}
{% load mainFilters %}
{% block title %}TEST pyknow Fish{% endblock %}
{% block container %}
    <h1>TEST pyknow Fish</h1>
    {% if amswer %}
        <h3>This is {{amswer}}!</h3>
    {% else %}
        <h3>I don't know what is it!</h3>
    {% endif %}
    <h1>Продолжить?</h1>
    <form "form-radio" id="form-is_actual-change" action="{{url}}" method="post">
        {% csrf_token %}
        {% for postParam in request|postParameters %}
            <input class="form-control hidden" type="text"
                value="{{postParam.value}}" name="{{postParam.key}}"
                id="{{postParam.key}}">
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <pre>{{facts}}</pre>
    <img src="{% static "graph/fish.gv.svg" %}"
        class="img-responsive" alt="Graph"> 


{% endblock %}





